@import "../../styles/mixins";

.navbar {
  .tabs-wrap {
    display: flex;
    height: 100%;

    a {
      height: 100%;

      .tab-item {
        color: #ffffff;
        height: 100%;
        align-items: center;
        display: flex;
        min-width: toRem(120px);
        justify-content: center;
        transition: .2s all ease-in-out;

        @media #{$max767} {
          min-width: toRem(80px);
        }
        &.active, &:hover {
          background-color: #1db954;
          color: #ffffff;
        }
      }
    }
  }
}

