@import '../../styles/mixins';

.auth-page.main-content {
  flex-direction: row;
  justify-content: center;

  .auth-wrap {
    align-items: center;
    width: 40%;

    @media #{$max991} {
      width: 100%;
    }
  }
}
