@import './styles/mixins';

body {
  #root {
    display: flex;
    flex-direction: column;
    height: 100%;

    .main-content {
      background-color: #121212;
      padding: toRem(30px);
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow: auto;
      transition: all .2s ease-in-out;
      color: #a4a4a5;

      @media #{$max991} {
        padding: toRem(10px);
      }
    }
  }
}
