@import 'mixins';

.ui {
  &.container {
    height: 100%;
  }

  &.menu {
    border-radius: 0;
    margin: 0;
    box-shadow: initial !important;
    border-color: transparent;
    height: toRem(50px);
    z-index: 1;
    align-items: center;
    background-color: #222326;
    
    .item {
      color: #ffffff;
      font-size: toRem(19px);
      font-weight: bold;
      padding: 0;
      height: 100%;
      transition: all .2s ease-in-out;

      @media #{$max767} {
        font-size: toRem(16px);
      }
      .icon {
        margin: 0 !important;
      }
      &::before {
        display: none;
      }
      &.left {
        justify-content: flex-start !important;
        padding-left: toRem(30px) !important;

        @media #{$max767} {
          display: none !important;
        }
      }
      &.right {
        justify-content: flex-end;
        padding-right: toRem(30px) !important;
      }
      @media #{$max991} {
        &.left {
          padding-left: toRem(10px) !important;
        }
        &.right {
          padding-right: toRem(10px) !important;
        }
      }
    }
    &.inverted {
      .icon {
        color: #56657F;
        transition: .2s color ease-in-out;

        &:hover {
          color: #AFBDD1;
        }
      }
    }
  }

  &.card {
    transition: all .3s ease-in-out;
    margin: 0;
    background-color: #222326;
    border-radius: initial !important;
    border-color: red !important;
    border: initial !important;
    box-shadow: initial !important;

    .image {
      margin-bottom: toRem(15px);
      border-radius: initial !important;
    }
    .content {
      transition: padding .3s ease-in-out;

      .header {
        font-size: toRem(26px) !important;
        color: #ffffff;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .description {
        color: #b3b3b3;
        display: -webkit-box;
        font-size: toRem(16px) !important;
      }
      &.extra {
        font-size: toRem(16px) !important;
        margin-top: toRem(10px);
        color: #505050;
        text-align: right;
      }
    }
    &.result-card {
      width: toRem(300px) !important;
    }
  }

  &.input {
    margin-bottom: toRem(30px);

    input {
      background-color: initial !important;
      border: toRem(1px) solid #8f8f90;
      border-radius: toRem(30px);
      transition: border-color .2s ease-in-out,
                  color .2s ease-in-out,
                  background-color .2s ease-in-out;
      color: #f4f4f4 !important;

      &:active, &:focus {
        border-color: #ffffff !important;
        background-color: #ffffff !important;
        color: #151516 !important;

        ~.icon {
          color: #151516 !important;
        }
      }
    }
    .icon {
      color: #8f8f90;
      opacity: 1 !important;
    }
  }

  &.button {
    &.positive {
      background-color: #1db954;
      color: #ffffff;
    }
  }
}
