@import '../../styles/mixins';

.main-content {
  align-items: center;

  .inputs-wrap {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    width: 70%;
    flex-direction: column;
    transition: all .2s ease-in-out;

    .input {
      width: 100%;
    }
    .map {
      width: 100%;
      height: toRem(600px);
      transition: all .2s ease-in-out;
    }
    @media #{$max991} {
      width: 100%;

      .map {
        height: 100%;
      }
    }
  }
}